---

%# This is a sample config file for Tuba.  This file should be
%# either in the TUBA_CONFIG environment variable, in the current
%# directory, or in /usr/local/etc/Tuba.conf.

%# This file is a Mojo::Template of a YAML document.
%# (see 'perldoc Mojo::Template' for more info)

hypnotoad :
    workers : 5
    listen :
       - http://*:8080
image_upload_dir : /var/local/www/assets-back
asset_path : /assets
mapbox_access_token : replace_with_mapbox_token
asset_remote_fallback : http://data.globalchange.gov/assets
database :
    dbname   : gcis
    schema   : gcis_metadata
    host     : 
    port     :
    username :
    password :
%# Configuration allowing the feedback form to function.
feedback :
    user        : replace_with_from_email
    private_key : replace_with_recaptcha_private_key
    public_key  : replace_with_recaptcha_public_key
    to          : replace_with_to_email
auth :
    secret : replace_with_google_secret
    google_secrets_file : /usr/local/etc/secrets.json
%# Insecure dev-mode only auth
    valid_users :
        dev_mode_kat : utterly_insecure_dev_login
%# production mode auth, relies on google oauth
authz :
    root :
        user@globalchange.gov : 1
    update :
        user@globalchange.gov : 1
