---

%# This is a sample config file for Tuba.  This file should be
%# either in the TUBA_CONFIG environment variable, in the current
%# directory, or in /usr/local/etc/Tuba.conf.

%# This file is a Mojo::Template of a YAML document.
%# (see 'perldoc Mojo::Template' for more info)

hypnotoad :
    workers : 5
    listen :
       - http://*:8080
image_upload_dir : /var/local/www/assets
asset_path : /assets
asset_remote_fallback : http://data.globalchange.gov/assets
faceted_search :
    url : http://gcis-search.jpl.net/search
database :
    dbname   : gcis
    schema   : gcis_metadata
    host     : 
    port     :
    username :
    password :
auth :
    secret : this_should_be_replaced_with_a_server_secret
    valid_users :
        brian : tuba
        andrew : tuba
    google_secrets_file : <%= $ENV{HOME} %>/gcis/tuba/client_secrets.json
authz :
    update :
        jsmith2@gmail.com : 0
        jsmith@usgcrp.gov : 1

